@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Información";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Contactenos para resolver cualquier problema...</h2>
</hgroup>

<section class="Contacto">
    <header>
        <h3>Teléfono:</h3>
    </header>
   
    <p>
        <span class="label">Telefono Contacto:</span>
        <span>956396675</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Soporte:</span>
        <span><a href="mailto:castillanorte@hotmail.com">castillanorte@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">Presidenta:</span>
        <span><a href="mailto:deyanira@hotmail.com">deyaniraS@hotmail.com</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Dirección:</h3>
    </header>
    <p>
        Vicente Péres Rozales<br />
        pje 2 oriente #1224.
    </p>
</section>