@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Castilla Norte";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Página para nuestros vecinos del sector castilla norte de Chillán.</h2>
        </hgroup>
        <p>
            Esta es una oportunidad de crearte una cuenta para poder saber de sus problemas
            o consulta de nuestros avances en nuestro vencindario.
        </p>
    </div>
</section>
}

<h3>¿Por qué usar nuestra pagina?:</h3>

<ol class="round">
    <li class="one">
        <h5>Cuenta única.</h5>
      Como usuario podrás crearte una cuenta única para poder pedir certificados
        y pronto va incluir nuevas funcionalidades en nuestra página.

    </li>

    <li class="two">
        <h5>Certificados de residencia.</h5>
        Ya no necesita más ir a la sede para pedir sus certificados de recidencia
        sino puede pedirlo en línea con su cuenta única.
    </li>

    <li class="three">
        <h5>Actualidad.</h5>
     Acá en nuestra pagina sabrá las actualizaciones mas recientes de la comunidad
     y horarios de las reuniones.
    </li>
</ol>