@{
    Page.Title = "Nuestros Integrantes";
    Layout = "~/_SiteLayout.cshtml";
    String Subpresi = "Deyanira Sanhueza";
    String Subsecre = "";
    String Subteso = "";
}

<article>
    <h4>@Subpresi</h4>

    <p>
        Segunda vez electa nuestra gran presidenta deyanira sanhueza , que se dedica a nuestro vencindario
        y apoyo de ella en el sector de castilla norte. También ofeciendo su compromiso con la gente y ayudando
        a los mas necesitados en nuestro sector.
    </p>
</article>


<article>
    <h4>@Subsecre</h4>
    <p>
        Nuestra secretaria seleccionada por nuestra presidenta , estará disponible
        para consultar cualquier información además de pedir su certificado de residencia.
    </p>

</article>


<article>
    <h4>@Subteso</h4>

    <p>
        Nuestra tesorera en cada reunión junta y obtiene los dineros para proyecots futuros
        y haciendo colectas cuando los vecinos esten en situaciones graves.
    </p>
</article>