@{
    Page.Title = "Proyectos";
    Layout = "~/_SiteLayout.cshtml";
    String Subvivienda = "Proyecto de viviendas.";
    
    }



<article>
    <h4>@Subvivienda</h4>

    <p>
        Por la causa del terremoto del 27 de febrero del 2010,
        nuestros vecinos fueron afectados en sus viviendas con daños
        internos de sus casas , asi que se está haciendo la campaña de reparar
        las viviendas con la ayuda del gobierno.
    </p>
</article>


