@{
    Page.Title = "Información de reuniones.";
    Layout = "~/_SiteLayout.cshtml";
    String info = "Información y Horarios";
}
    
        <article>
            <h4>@info</h4>

            <p>
                Las reuniones se realizan 3 veces en el mes,
                a las 16:00hrs en los días sabados de ese mes.
                Recordar que su asistencia es de gran relevancia para
                las discusiones y opiniones de la Asamblea General.

            </p>

        </article>
    










