@{
    Page.Title = "Social";
    Layout = "~/_SiteLayout.cshtml";
    String Subtitulonino = "Celebración del dia del niño en la comunidad";
    String Subtitulomadre = "Día de las madres en la sede";
    String Subtitulonavidad = "Llega la navidad en la Vicente";
    
    
}


    <article>

        <h4>@Subtitulomadre</h4>
    <p>
        En las dias de las madres festejamos a lo grande en la sede vecinal. las vecinas del sector
        estan todas invitadas en este mes de mayo a celebrar su dia mas glorioso que son mamás y merecen un almuerzo
        organizado por la presidenta de la sede. Festejar con bailes y regalos para las feminas regalonas de la castilla
        ojala que no faltes ama de casa.
    </p>
</article>


    <article>
        <h4>@Subtitulonino</h4>
    <p>
        En la celebración del dia del niño, el dia domingo nuestra presidenta tiene preparada
        una actividad a todos nuestros niños en la castilla norte, donde habra una comida para los regalones
        y regalos.Están invitados todas las personas correspondiente en la sede.
    </p>
</article>

    <article>

        <h4>@Subtitulonavidad</h4>
    <p>
        Cada diciembre festejamos con los vecinos la celebración de navidad en la cancha del sector , pasandola bomba con nuestros hijos
        y familia. Hay concursos con regalos para los niños y para los vecinos un almuerzo para estar con la guatita llena y festejar como se debe
        , lo gran inportante es recordar el nacimiento de cristo y recordar que hay que celebrar con serenidad y paz con los nuestros.
    </p>

</article>

  